version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.2-stretch
    steps:
      - checkout
      - run:
          name: Test
          command: python -v -m unittest discover tests
